.privacy-container{
  margin-bottom: 3rem;
}

.privacy-container h1 {
  font-weight: normal;
  padding-top: 5rem;
  font-size: 1.9em;
  margin-bottom: 5rem;
}

.privacy-container p {
  line-height: 2;
}

.privacy-container h3 {
  margin: 2rem 0;
  font-weight: 600;
  color: rgb(204 204 204);
}

.privacy-container a {
  color: rgb(204 204 204);
}

.privacy-container a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 450px) {
  .privacy-container h1 {
    padding-top: 1rem;
    margin-bottom: 3rem;
  }
}
